<p class="customer">
  <%= t(:dear_customer, :default => "Spoštovani %{name},", :name => @order.bill_address ? @order.bill_address.full_name : '' ) %>
</p>
<p class="overview">
  Vaše naročilo je <b>STORNIRANO</b>.
</p>
<p class="link">
  Celotno naročilo si lahko ogledate tukaj:
  <%= link_to(order_url(@order, :host => Spree::Config[:site_url]), order_url(@order, :host => Spree::Config[:site_url])) %>
</p>
<h1>
  Povzetek naročila [STORNIRANO]
</h1>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<p class="thank-you">
  Hvala za zaupanje in lep pozdrav, <br>
  Lekarnar
</p>