<p class="customer">
  Zdravo <%= @order.bill_address ? @order.bill_address.firstname : ''  %>,
<p class="overview">
  Zahvaljujemo se vam za nakup v spletni lekarni <a href="http://www.lekarnar.com">www.lekarnar.com</a>. Naši farmacevti bodo pripravili vaše naročilo in vas obvestili, ko bo poslano.
</p>
<p class="link">
  Porobnosti naročila:
  <%= link_to(order_url(@order, :host => Spree::Config[:site_url]), order_url(@order, :host => Spree::Config[:site_url])) %>
</p>
<h1>
  Povzetek naročila
</h1>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<p class="thank-you">
  Hvala za zaupanje in lep pozdrav,
</p>